<div class="bike-container">
  <div class="row">
    <div class="image col s3">
      <img src="../../../../assets/{{ bike.image }}" alt="{{ bike.title }}">
    </div>
    <div class="main-content col s6">
      <h4>{{ bike.title }}</h4>
      <p>{{ bike.description }}</p>
    </div>
    <div class="side col s3">
      <h5>{{ bike.price | currency }}</h5>
      <p>{{ bike.location }}</p>
      <div class="contact-container" *ngIf="!home">
        <div class="contact" *ngIf="bike.ownerId !== currUserId;else delete">
          <button class="waves-effect waves-light btn yellow">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #delete>
  <button (click)="onDelete($event)" class="waves-effect waves-light btn red">DELETE</button>
</ng-template>