<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Add a new cuttlefish</h1>
    <% if(messages.cuttlefish) { %>
        <% for (let message of messages.cuttlefish) { %>
        <h3><%= message %></h3>
        <% } %>
    <% } %>
    <form action="/cuttlefish" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="color">Favorite Color: </label>
        <input type="text" name="color">
        <label for="food">Favorite Food: </label>
        <input type="text" name="food">
        <label for="birthday">Birthday: </label>
        <input type="text" name="birthday">
        <input type="submit" value="Add Cuttlefish">
    </form>
</body>
</html>